body{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 12px;
}

#projects .row{
    width: 500px;
    display: flex;
    flex-wrap: nowrap;
    margin: 0 auto;
}

.project img{
    border-radius: 100%;
}
.project:nth-child(1),.project:nth-child(3),.project:nth-child(5){
    position: relative;
    top: 60px;
}

  
#projects .project {
    border: 1px solid rgb(23,173,65);
    height: 210px;
    text-align: center;
    border-radius: 55px;
    min-width: 95px;
    width: 95px;
    margin: 5px;
    padding: 5px;
    cursor: pointer;
}
.project-desc i{
    color: #ccc;
}
.project-name {
    font-weight: bold;
}
.project-desc{
    font-size: 11px;
}
#down-bkg img{
    position: relative;
    left: -190px;
    height: 200px;
    top: 100px;
}
.profile .icon{
    background-color: rgb(254,182,183);
    min-width: 22px;
    max-width: 22px;
    min-height: 22px;
    max-height: 22px;
    border-radius: 100%;
    margin-left: 1px;
    margin-top: 2px;
    line-height: 25px;
}
.profile{
    padding-right: 30px;
}
.profile > div{
    border: 1px solid rgb(176,229,221);
    width: 24px;
    height: 40px;
    border-radius: 20px;
    float: right;
    margin: 0 10px;
    padding: 1px;
}
.profile > div:nth-child(2) .icon{
    position: relative;
    top: 14px;
}
a{
    text-decoration: none;
    color: black;
}
.overlay{
    position: relative;
    top: -40px;
    color: white;
    font-weight: bold;
    left: 7px;
    width: 100px;
    margin: 0 auto;
}
.hide{
    visibility: hidden;
}